<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-blue.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">

  <title>{% block title %}Welcome{% endblock %} — Oversec Online Help</title>

     <script>
{% if this.redirect %}
      function redirectpage(dest) {
        
        if (window.location.pathname!=dest) {
          if (window.location.replace)
            window.location.replace(dest)
          else
            window.location=dest
        }
      }


      function resolvePackage(lang,packageAndVersion) {
        var sp = packageAndVersion.split('$');
        var package = sp[0];
        var version = sp[1];

       {% set apps_root = '/setup/per-app-config' %}
       var apps_root = '{{apps_root}}';
       {% for app in site.get(apps_root).children %}
          if ('{{app._id}}'==package) {
            redirectpage(lang+apps_root+'/{{app._id}}#'+version);
            return;
          }
       {% endfor %}

        redirectpage(lang+apps_root+'/nothing-special-known-about-this-app');
      }  

      function resolveAlias(lang,xalias) {
        {% for alias, path in bag('aliases').iteritems() %}
          if ('{{alias}}'==xalias) {
            redirectpage(lang+'{{path}}');
            return;
          }
        {% endfor %}
        redirectpage(lang+'/index.html');
      }  

     function resolve(lang) {

          var hash =window.location.hash.substring(1);
          if (hash.startsWith('alias_')) {
            resolveAlias(lang,hash.substring(6));
          } 
          else if (hash.startsWith('package_')) {
            resolvePackage(lang,hash.substring(8));
          }
          else {
              redirectpage(lang+'/index.html');
          }
     }

    /*
    Browser Language Redirect script- By JavaScript Kit
    For this and over 400+ free scripts, visit http://www.javascriptkit.com
    This notice must stay intact
    */
    //Enter ISO 639-2 letter Language codes to detect (see: http://www.w3.org/WAI/ER/IG/ert/iso639.htm):
    var langcodes=new Array("en", "de", "default")
    //Enter corresponding redirect URLs (last one is for default URL):
    var langredirects=new Array("", "de", "")
    var languageinfo=navigator.language? navigator.language : navigator.userLanguage
    var gotodefault=1
    

    for (i=0;i<langcodes.length-1;i++){
      if (languageinfo.substr(0,2)==langcodes[i]) {
        resolve(langredirects[i])
        gotodefault=0
        break
      }
    }

    if (gotodefault)
      resolve(langredirects[langcodes.length-1])

 {% endif %}


function w3_open() {
    var x = document.getElementsByClassName("w3-sidenav")[0];
    x.style.display = "block";
}
function w3_close() {
    var x = document.getElementsByClassName("w3-sidenav")[0];
    x.style.display = "none";
}


    </script>


</head>
<body>

<nav  class="w3-sidenav w3-card-2 w3-top main-nav" style="width:50%;display:none;z-index:2">
  <div class="w3-container w3-theme-d2 oversec-header"  onclick="w3_close()">
   <h4>
   <i class="w3-closenav w3-rleft w3-xlarge fa fa-close" style="padding-top:5px" onclick="w3_close()"></i>

    </h4>
  </div>
  

<div >
  {% for page in [site.root] if page.record_label recursive %}
  <a class="menuentry" href="{{ page|url }}"><h5>{{ page.record_label }}</h5></a>
    {% if page.children %}
      <div class="menuindent">{{ loop(page.children.order_by('sortstring','title')) }}</div>
    {% endif %}
  
  {% endfor %}

</div>

</nav>

<header class="w3-container w3-card-4 w3-theme w3-top oversec-header">

  <span class="headline">
  <i class="w3-opennav fa fa-bars" onclick="w3_open()"></i>
  Oversec Online Help
  </span>
  <div style="float: right; display: inline-block; margin-right:5px">
  <!--
      <a href="{{ '.'|url(alt='de') }}"><img src="{{ '/static/flags/DE.png'|url }}"></a>
  -->
      <a href="{{ '.'|url(alt='') }}"><img src="{{ '/static/flags/GB.png'|url }}"></a>
  </div>
</header>

<div class="w3-container" style="margin-top:30px">
    {% block body %}{% endblock %}
</div>


<br/>
<br/>
<footer class="w3-container">
<!--
    &copy; Copyright 2016 by oversec.io.
-->
  </footer>
</div> 
</body>
