{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  
  <h2>{{ this.title }}</h2>
  {{ this.body }}

  <h4>Sitemap:</h4>


<ul class="sitemap">
  {% for page in [site.get_root(alt=alt)] if page.record_label recursive %}
  <li>
  <a  href="{{ page|url(alt=alt) }}"><h5>{{ page.record_label }}</h5></a>

    {% if page.children %}
      <ul>{{ loop(page.children.order_by('sortstring','title')) }}</ul>
    {% endif %}
  </li>
  {% endfor %}

</ul>

{% endblock %}
